{{ content_for_header }}
{{ content_for_layout }}
<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <!-- Inclua o link para o arquivo CSS do Tailwind aqui -->
      <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
      <style>
         @import url('https://fonts.cdnfonts.com/css/akira-expanded');
         body {
         font-family: 'Akira Expanded', sans-serif;
         color: #000;
         background: #fff;
         }
         img {
         width: 100%;
         }
         #shopify-section-password-header, #shopify-section-password-content {
         display: none !important;
         }
         @media(max-width: 700px){
         .social {
         max-width: 200px;
         }
         }
         @media(max-width: 500px){
         .social {
         max-width: 100px;
         }
         .section02 img {
         max-width: 200px;
         }
         }
         .container {
         width: 60%;
         max-width: 1140px;
         position: relative;
         }
         .conteudo {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         z-index: 1;
         }
         input {
         background-color: #000;
         }
         .submit input {
         background: #e1c602;
         float: right;
         cursor: pointer;
         }
         .img1 {
         width: auto;
         max-height: 1570px; 
         }
         .img2 {
         width: auto;
         max-height: 710px;
         }
         .img3 {
         width: auto;
         max-height: 4180px;
         }
         .img4 {
         width: auto;
         max-height: 335px;
         }
         /* Para resolução máxima de 1920px (FHD) */
         .section01 { height: 80vw; max-height: 1570px; }
         .section02 { height: 38vw; max-height: 710px;}
         .section03 { height: 218vw; max-height: 4180px;}
         .section04 { height: 18.5vw; max-height: 335px;}
         /* Media Query para resolução QHD (2560x1440) */
         @media screen and (min-width: 2560px) {
         .section01 { height: calc((1575 / 2560) * 100vw); }
         .section02 { height: calc((712 / 2560) * 100vw); }
         .section03 { height: calc((4183 / 2560) * 100vw); }
         .section04 { height: calc((354 / 2560) * 100vw); }
         }
         /* Media Query para resolução 4K (3840x2160) */
         @media screen and (min-width: 3840px) {
         .section01 { height: calc((1575 / 3840) * 100vw); }
         .section02 { height: calc((712 / 3840) * 100vw); }
         .section03 { height: calc((4183 / 3840) * 100vw); }
         .section04 { height: calc((354 / 3840) * 100vw); }
         }
         /* Media Query para resolução Ultrawide (3440x1440) */
         @media screen and (min-width: 3440px) {
         .section01 { height: calc((1575 / 3440) * 100vw); }
         .section02 { height: calc((712 / 3440) * 100vw); }
         .section03 { height: calc((4183 / 3440) * 100vw); }
         .section04 { height: calc((354 / 3440) * 100vw); }
         }
      </style>
   </head>
   <body>
      <div class="conteudo">
         <div class="container mx-auto">
            <div class="section01"></div>
            <div class="section02">
               <img class="mx-auto" src="https://cdn.shopify.com/s/files/1/0789/1304/4790/files/fiquepordentro.png?v=1691772374" alt="">
               <div class="2xl:mt-10 xl:mt-4 lg:mt-2 md:mt-2 mt-2">
                  {% form 'contact' %}
                  {{ form.errors | default_errors }}
                  <div class="first-name 2xl:mb-8 xl:mb-4 lg:mb-2 md:mb-2">
                     <label class="block text-sm 2xl:text-5xl lg:text-2xl md:text-xl sm:text-xs" for="first-name">Nome</label>
                     <input class="placeholder-black 2xl:mt-1 2xl:px-5 2xl:py-9 xl:px-2 xl:py-4 lg:px-4 lg:py-2 md:px-1 md:py-1 border rounded w-full text-white 2xl:text-2xl lg:text-lg sm:text-xs" type="text" name="contact[first_name]" id="first-name" placeholder="Nome">
                  </div>
                  <div class="email 2xl:mb-8 xl:mb-4 lg:mb-2 md:mb-2">
                     <label class="block text-sm 2xl:text-5xl lg:text-2xl md:text-xl sm:text-xs" for="email">E-mail</label>
                     <input class="placeholder-black 2xl:mt-1 2xl:px-5 2xl:py-9 xl:px-2 xl:py-4 lg:px-4 lg:py-2 md:px-1 md:py-1 border rounded w-full text-white 2xl:text-2xl lg:text-lg sm:text-xs" type="email" name="contact[email]" id="email" placeholder="E-mail">
                  </div>
                  <div class="message" style="visibility: hidden;position: absolute;z-index: -1;">
                     <label for="message">Mensagem</label>
                     <textarea name="contact[body]" id="message"></textarea>
                  </div>
                  <div class="submit">
                     <input class="text-sm 2xl:text-2xl 2xl:text-2xl 2xl:px-10 2xl:py-5 2xl:mt-3 xl:mt-2 xl:px-5 xl:py-2 xl:mt-3 lg:mt-2 lg:px-8 lg:py-2 md:px-2 md:py-2 sm:px-1 sm:py-1 lg:text-xl md:text-xl sm:text-xs sm:mt-2 sm:px-4 sm:py-2 py-2 px-2 mt-1" type="submit" value="Enviar">
                  </div>
                  {% endform %}
               </div>
            </div>
            <div class="section03"></div>
            <div class="section04">
               <img src="https://cdn.shopify.com/s/files/1/0789/1304/4790/files/siga.png?v=1691772374" alt="">
               <div class="flex justify-center items-center gap-10 mt-4 sm:mt-8 md:mt-16">  
                  <a href="https://instagram.com/yowsurf_brasil?igshid=MzRlODBiNWFlZA==" target="_blank"><img class="social" src="https://cdn.shopify.com/s/files/1/0789/1304/4790/files/WHATSAPP_45262f62-72d3-4a1b-9781-8dd4096bd2ca.png?v=1691772374" alt=""></a>
                  <a href="https://instagram.com/yowsurf_brasil?igshid=MzRlODBiNWFlZA==" target="_blank"><img class="social" src="https://cdn.shopify.com/s/files/1/0789/1304/4790/files/INSTAGRAM_0a930ef7-898f-4090-897d-2a4ff790bb85.png?v=1691772374" alt=""></a>
               </div>
            </div>
         </div>
      </div>
      <div class="flex flex-col items-center">
         <img class="img1" src="https://cdn.shopify.com/s/files/1/0789/1304/4790/files/BGYOW_5_01.jpg?v=1691772375" alt="">
         <img class="img2"  src="https://cdn.shopify.com/s/files/1/0789/1304/4790/files/BGYOW_5_02.jpg?v=1691772375" alt="">
         <img class="img3"  src="https://cdn.shopify.com/s/files/1/0789/1304/4790/files/BGYOW_5_03.jpg?v=1691772375" alt="">
         <img class="img4"  src="https://cdn.shopify.com/s/files/1/0789/1304/4790/files/BGYOW_5_04.jpg?v=1691772374" alt="">
      </div>
   </body>
</html>