{{ content_for_header }}
{{ content_for_layout }}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>YOW SURF - BRASIL</title>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;900&display=swap');

  * {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }

  img {
    width: 100%;
  }
  #shopify-section-template--20260907090230__main {
    display: none !important;
  }
  .soon-main {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .soon-container {
    max-width: 1140px;
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  .flex-soon {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media (min-width: 800px) {
    .customheader {
      min-height: 800px;
    }
  }
  .selo {
    max-width: 400px;
    width: 100%;
    padding-top: 170px;
  }
  .selo img {
    transform: rotate(340deg);
  }
  .soon-form {
    width: 100%;
    margin: 400px 0;
  }
  .soon-form form {
    max-width: 700px;
    margin: 0 auto;
  }
  .soon-form label {
    font-weight: 700;
    font-size: 2em;
    display: block;
    width: 25%;
    text-transform: uppercase;
  }

  .first-name,
  .email {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 15px 0;
  }

  .soon-form input {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #ffd900;
    background-color: #000;
    background-image: none;
    border: none;
    border-radius: 4px;
    height: 50px;
  }

  .submit input {
    border: none;
    color: #000;
    display: inline-block;
    background: #e8c500;
    text-transform: uppercase;
    padding: 13px 30px;
    margin-top: 20px;
    transition: all 0.3s;
    height: auto;
    font-size: 1rem;
    font-weight: 600;
  }

  .socialicons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 0;
  }
  .what,
  .insta {
    max-width: 200px;
    width: 100%;
  }
  @keyframes rotate {
    from {
      transform: rotate(0deg); /* Ângulo inicial de rotação */
    }
    to {
      transform: rotate(360deg); /* Ângulo final de rotação (uma volta completa) */
    }
  }

  @media (max-width: 700px) {
    .flex-soon {
      flex-direction: column;
      align-items: end;
      padding: 0 15px;
    }
    .selo {
      width: 120px;
      padding-top: 3em;
      padding-right: 3em;
    }
    form {
      background: #fff;
      padding: 2rem;
      margin: 1rem !important;
      border-radius: 10px;
    }
    .first-name,
    .email {
      flex-direction: column;
    }
    label {
      width: 100% !important;
    }
    .socialimg {
      max-width: 320px;
    }
    .socialicons {
      flex-direction: column;
      gap: 30px;
    }
    .firstimg {
      max-width: 320px;
      margin-bottom: -50px;
    }
    .soon-form {
      margin: 10px 0;
    }
  }
</style>

<img src="https://cdn.shopify.com/s/files/1/0789/1304/4790/files/bg.webp?v=1690900374">
<div class="soon-main">
  <div class="soon-container">
    <div class="customheader">
      <div class="flex-soon">
        <div></div>
        <div class="selo">
          <img src="https://cdn.shopify.com/s/files/1/0789/1304/4790/files/SELO_AMARELO.png?v=1690900278">
        </div>
      </div>
    </div>
    <div class="soon-form">
      <img
        class="firstimg"
        style="max-width: 790px;margin: 0 auto;display: block;width: 100%;margin-bottom: 80px"
        src="https://cdn.shopify.com/s/files/1/0789/1304/4790/files/Layer_20.png?v=1690911428"
      >
      {% form 'contact' %}
        {{ form.errors | default_errors }}

        <div class="first-name">
          <label for="first-name">Nome</label>
          <input type="text" name="contact[first_name]" id="first-name" placeholder="Nome">
        </div>

        <div class="email">
          <label for="email">E-mail</label>
          <input type="email" name="contact[email]" id="email" placeholder="E-mail">
        </div>

        <div class="message" style="visibility: hidden;position: absolute;z-index: -1;">
          <label for="message">Mensagem</label>
          <textarea name="contact[body]" id="message"></textarea>
        </div>

        <div class="submit">
          <input type="submit" value="Enviar">
        </div>

        <img
          class="socialimg"
          style="
            max-width: 402px;
            margin: 0 auto;
            display: block;
            margin-top: 80px;
          "
          src="https://cdn.shopify.com/s/files/1/0789/1304/4790/files/social2.png?v=1691016528"
        >
        <div class="socialicons">
          <a href="#"
            ><img
              style="max-width: 229px;"
              src="https://cdn.shopify.com/s/files/1/0789/1304/4790/files/WHATSAPP.png?v=1690911327"
          ></a>

          <a target="_blank" href="https://instagram.com/yowsurf_brasil?igshid=MzRlODBiNWFlZA=="
            ><img
              style="max-width: 273px;"
              src="https://cdn.shopify.com/s/files/1/0789/1304/4790/files/instagram.png?v=1690911327"
          ></a>
        </div>
      {% endform %}
    </div>
  </div>
</div>
