{{ content_for_header }}
{{ content_for_layout }}
<!DOCTYPE html>
    <html lang="pt-pt">
       <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Embed com Bootstrap</title>
          <!-- Adicione os links para os arquivos CSS do Bootstrap -->
          <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
       </head>
       <body>
          <style>
             * {
             overflow-x: hidden;
             }
             #shopify-section-password-header, #shopify-section-password-content {
                display: none !important;
              }
             @media (max-width: 480px) {
             .bannerandform {
             margin-top: 13.5rem;
             }
             .formulario {
             height: 100px;
             }
             .foropersonagem {
             width: 210px;
             position: absolute;
             left: 0;
             }
             .row.gap-4 {
             gap: 3px !important; /* Define o espaçamento para 0 */
             }
             .row.pt-5 {
             padding-top: 5px !important; /* Remove o preenchimento superior */
             }
             .wha {
             max-width: 340px;
             }
             form {
                padding: 0;
            }
             }
             @media (min-width: 481px) and (max-width: 899px) {
             .bannerandform {
             margin-top: 25rem;
             }
             .fh {
             height: 20vh;
             }
             .formulario {
             height: 250px;
             }
             .foropersonagem {
             width:  450px;
             position: absolute;
             left: 0;
             }
             }
             @media (min-width: 900px) and (max-width: 1000px) {
             .bannerandform {
             margin-top: 34rem;
             }
             .fh {
             height: 10vh;
             }
             .formulario {
             height: 200px;
             }
             .foropersonagem {
             width:  560px;
             position: absolute;
             left: 0;
             }
             }
             @media (min-width: 1050px) and (max-width: 1099px) {
             .bannerandform {
             margin-top: 50rem;
             }
             .formulario {
             height: 200px;
             }
             .foropersonagem {
             width:  560px;
             position: absolute;
             left: 0;
             }
             }
             /* Media query para telas maiores, como laptops e desktops */
             @media (min-width: 1100px) and (max-width: 1200px) {
             .bannerandform {
             margin-top: 30rem;
             }
             .fh {
             height: 30vh;
             }
             .foropersonagem {
             width: 730px;
             position: absolute;
             left: 0;
             }
             .formulario {
             height: 200px;
             }
             }
             /* Media query para telas maiores, como laptops e desktops */
             @media (min-width: 1300px) and (max-width: 1363px) {
             .bannerandform {
             margin-top: 35rem;
             }
             .fh {
             height: 35vh;
             }
             .foropersonagem {
             width: 730px;
             position: absolute;
             left: 0;
             }
             .formulario {
             height: 250px;
             }
             }
             /* Media query para telas maiores, como laptops e desktops */
             @media (min-width: 1364px) and (max-width: 1366px) {
             .bannerandform {
             margin-top: 0rem;
             }
             .fh {
             height: 85vh;
             }
             .foropersonagem {
             width: 730px;
             position: absolute;
             left: 0;
             }
             .formulario {
             height: 290px;
             }
             }
             /* Media query para telas maiores, como laptops e desktops */
             @media (min-width: 1367px) and (max-width: 1921px) {
             .bannerandform {
             margin-top: 20rem;
             }
             .fh {
             height: 100vh;
             }
             .foropersonagem {
             width: 984px;
             position: absolute;
             left: 0;
             }
             .formulario {
             height: 400px;
             }
             }

             form {
                padding: 40px 170px;
            }

             form label {
                font-size: 2em;
                font-weight: 900;
                text-transform: uppercase;
            }
            

            form input {
                background: #000;
                border: none;
                border-radius: 4px;
                color:#fff;
                height: 55px;
            }

            form input::placeholder {
                color: #fff;
            }
            
            form .submit {
                display: flex;
                align-items: center;
                justify-content: end;
            }

            form .submit input {
                background: #e6c100;
                border: none;
                padding: 13px 25px;
                font-size: 1.2rem;
                font-weight: 700;
                text-transform: uppercase;
                color:#000;
            }
             
          </style>
          <img src="https://cdn.shopify.com/s/files/1/0789/1304/4790/files/new_bg_main_58cb00fa-eaa6-4da8-8034-4b827f627ad8.jpg?v=1691631335" class="img-fluid" alt="" style="position: absolute; z-index: -1;">
          <div class="container p-5">
             <div class="fh"></div>
             <div class="row bannerandform">
                <div class="col-12">
                   <div class="col-9 col-sm-8"><img  class="img-fluid" src="https://cdn.shopify.com/s/files/1/0789/1304/4790/files/Layer_20.png?v=1690911428" alt=""></div>
                   <div class="col-3 col-sm-4"></div>
                </div>
                <div class="formulario" class="col-12 pt-5">
                    {% form 'contact' %}
                        {{ form.errors | default_errors }}
                
                        <div class="first-name row  mt-4">
                          <label class="col-2" for="first-name">Nome</label>
                          <input class="col-10" type="text" name="contact[first_name]" id="first-name" placeholder="Nome">
                        </div>
                
                        <div class="email row  mt-4">
                          <label class="col-2" for="email">E-mail</label>
                          <input class="col-10" type="email" name="contact[email]" id="email" placeholder="E-mail">
                        </div>
                
                        <div class="message" style="visibility: hidden;position: absolute;z-index: -1;">
                          <label for="message">Mensagem</label>
                          <textarea name="contact[body]" id="message"></textarea>
                        </div>
                
                        <div class="submit mt-4">
                          <input type="submit" value="Enviar">
                        </div>
                      {% endform %}
                </div>
             </div>
             <div class="row" style="height: 100vh;">
                <div class="col-7"><img class="img-fluid foropersonagem" src="https://cdn.shopify.com/s/files/1/0789/1304/4790/files/person.png?v=1691631334"></div>
                <div class="col-5">
                   <div class="row gap-4 pt-5">
                      <div class="col-12"><img  class="img-fluid" src="https://cdn.shopify.com/s/files/1/0789/1304/4790/files/social2.png?v=1691016528" alt=""></div>
                      <div class="row col-12 gap-4">
                         <div class="col-12"><img  style="max-width: 321px;width: 100%" class="img-fluid wha" src="https://cdn.shopify.com/s/files/1/0789/1304/4790/files/WHATSAPP.png?v=1690911327" alt=""></div>
                         <div class="col-12"><img class="img-fluid insta" src="https://cdn.shopify.com/s/files/1/0789/1304/4790/files/instagram.png?v=1690911327" alt=""></div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <!-- Adicione os links para os arquivos JS do Bootstrap e do jQuery (necessário para alguns recursos do Bootstrap) -->
          <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.min.js"></script>
       </body>
    </html>