<div class="page-width page-content asasasas">

  {%- include 'breadcrumbs' -%}

	<div class="grid">
    <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">

      <header class="section-header">
        <h1 class="section-header__title">{{ page.title }}</h1>
      </header>

      <div class="rte rte--nomargin">
        {{ page.content }}
      </div>

    </div>
  </div>

</div>


<style>
  .page-width .grid .grid__item.medium-up--one-fifth.grid__item--sidebar{
    overflow-y: none !important;
  }

</style>